.template-body-row{
    .about-body-img-col{
        @include make-col-ready();
        @include media-breakpoint-up(lg){
            @include make-col(7);
        }
    }
    .about-body-info-col{
        @include make-col-ready();
        @include media-breakpoint-up(lg){
            @include make-col(5);
        }
    }
}

.about-body-img-col{
    .about-body-img{
        @extend .img-fluid;
    }
}

.about-body-info-col{
    .about-body-title{
        padding-left: 25px;
        color: white;
        font-size: 1.8rem;
    }
    .about-body-info{
        padding-left: 25px;
        color: white;
        font-size: 1.3rem;
    }
}
