.compsci-body-row{
    @include make-row($gutter: 0);
    @extend .d-flex,
            .justify-content-center,
            .align-items-center;
    .compsci-side-col{
        @include make-col-ready();
        @include media-breakpoint-up(lg){
            @include make-col(4);
        }
        text-align: center;
    }
    .compsci-body-col{
        @include make-col-ready();
        @include media-breakpoint-up(lg){
            @include make-col(8);
        }
    }
}

.compsci-side-col{
    .compsci-side-img{
        padding: 10px;
        @extend .img-fluid;
    }
}

.compsci-body-col{
    .compsci-body-info{
        padding-left: 25px;
        color: white;
        font-size: 1.3rem;
    }
}