.objectives-body{
    @extend .container;
}

.objectives-container{
    width: 100%;
    @include make-row(); 
}

.objectives-bullets-container{
    @include make-col-ready();
    @include media-breakpoint-up(md) {
        @include make-col(7);
    }
    @extend .d-flex,
            .align-items-center;
}

.objectives-bullets-numbers{
    color: white;
    font-size: 4rem;
    margin-left: 45px;
}

.objectives-bullet{
    color: white;
    display:inline-block;
    vertical-align: middle;
    font-size: 2rem;
}

.objectives-target-container{
    @include make-col-ready();
    @include media-breakpoint-up(md) {
        @include make-col(5);
    }
    @extend .d-flex,
            .align-items-center;
}

.objectives-target-img{
    @extend .img-fluid;
    @include media-breakpoint-down(md){
        margin: 20px;
    }
}