@use "colors" as c;

html,body {
    height:100%;
    font-family: Montserrat, Helvetica, sans-serif;
    background-color: c.$black;
}  

.objectives-body{
    @extend .container;
}

.objectives-body-title{
    color: white;
    font-size: 2rem;
}

.objectives-body-container{
    @include make-row()    
}

.objectives-container{
    @include make-col-ready();
    @include media-breakpoint-up(md) {
        @include make-col(7);
    }
    @extend .d-flex,
            .align-items-center;
}

.objectives-numbers{
    color: white;
    font-size: 4rem;
    margin-left: 45px;
}

.objectives-objective{
    color: white;
    display:inline-block;
    vertical-align: middle;
    font-size: 2rem;
}

.target-container{
    @include make-col-ready();
    @include media-breakpoint-up(md) {
        @include make-col(5);
    }
    @extend .d-flex,
            .align-items-center;
}

.target-img{
    @extend .img-fluid;
}